@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #000031;
    --cor2: #2666cb;
    --cor3: #01020e;
    --cor4: #dedede;
}

body {
    background-color: #D9D9D9;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1.5rem;
    min-height: 50px;
}

.box-img {
    height: 100%;
}

.img_logo {
    max-width: 60px;
    height: 100%;
}

.box-img:hover {
    scale: 1.5;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;
    color: #000031;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
}

.language {
    position: relative;
    width: 120px;
    margin-left: 40px;
}

.br:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("https://flagsapi.com/BR/flat/64.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.en:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("https://flagsapi.com/US/flat/64.png");
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

section {
    background-image: linear-gradient(to top right, #000031, #2666cb);
    color: #D9D9D9;
    padding: 4rem;
}

.first-section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    min-height: 650px;
}

.first-section > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1 {
    font-size: 5rem;
}

footer {
    background-color: #D9D9D9;
    color: #000031;
}