@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #000031;
    --cor2: #2666cb;
    --cor3: #01020e;
    --cor4: #dedede;
}

body {
    background-color: #D9D9D9;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color: #D9D9D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1.5rem;
    min-height: 50px;
}

.box-img {
    height: 100%;
}

.img_logo {
    max-width: 60px;
    height: 100%;
}

.box-img:hover {
    scale: 1.5;
    transition: 0.5s;
    cursor: pointer;
}

nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    text-decoration: none;
    color: #000031;
    font-family: 'Roboto Mono', monospace;
    font-weight: bolder;
    transform: 2ms ease-in;
    position: relative;
    padding-bottom: 3px;
}

nav a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 3px;
    background-color: #000031;
    transition: all 1s ease;
    border-radius: 10px;
}

nav a:hover:before {
    width: 70%;
}

.language {
    position: relative;
    width: 120px;
}

.br:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("https://flagsapi.com/BR/flat/64.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
}

.en:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("https://flagsapi.com/US/flat/64.png");
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section {
    color: #D9D9D9;
    padding: 5rem;
}

.first-section {
    background-image: linear-gradient(to top right, #000031, #2666cb);
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
    min-height: 650px;
}

.first-section > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 180px;
}

h1 {
    font-size: 5rem;
}

section p {
    min-width: 300px;
    max-width: 600px;
}

section p a {
    text-decoration: none;
    color: #D9D9D9;
}

section p a:hover {
    text-decoration: underline;
}

.img-perfil {
    min-width: 300px;
    max-width: 500px;
    padding: 1rem;
}

.perfil {
    width: 100%;
}

.perfil:hover {
    transform: translate(-10px, -10px);
    transition: 0.5s;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.second-section {
    background-image: linear-gradient(to top left, #063d1e, #83e1ad);
    min-height: 650px;
}

.imac-section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}

#imac img {
    height: 800px;
}

#imac iframe {
    position: absolute;
    top: 1151px;
    left: 822px;
    height: 500px;
    width: 883px;
}

.iphone-section {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    align-items: center;
}

#iphone img {
    height: 700px;
    width: 368px;
}

#iphone iframe {
    position: absolute;
    top: 2090px;
    left: 329px;
    height: 676px;
    width: 337px;
    border-radius: 42px;
    overflow: hidden;
}

footer {
    background-color: #D9D9D9;
    color: #000031;
    text-align: center;
    margin: 10px;
}

footer h3 {
    padding: 10px;
}

footer a {
    margin: 10px;
    padding-bottom: 10px;
}

.logo-linkedin:hover {
    scale: 1.2;
}

.logo-github:hover {
    scale: 1.2;
}

.logo-instagram:hover {
    scale: 1.2;
}